[submodule "deps/gamescope"]
	path = deps/gamescope
	url = https://github.com/davidawesome02-backup/gamescope.git
[submodule "deps/gbe_fork"]
	path = deps/gbe_fork
	url = https://github.com/Detanup01/gbe_fork.git
[submodule "deps/umu-launcher"]
	path = deps/umu-launcher
	url = https://github.com/Open-Wine-Components/umu-launcher.git
